.head {
    text-align:center;
}


body{ 
    background-color: #6B9797;
}

.card {
    margin: 25%;
    
}

.act {
    text-align:center;
    color:black;
    text-shadow: 2px 2px yellow;
    list-style-type: none;
}

.disc {
    text-align:center;
    padding:100px;
    color:aliceblue;
    text-shadow: 2px 2px #ff0000
}

.nav-pills {
    margin-bottom: 100px;
    margin-left: 50px;
}